* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body {
    padding: 8px;
    background-color: #181717;
    color: white;
}

.mobile-header {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-logo svg {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    height: 86px;
    font-family: Barlow, sans-serif;
    margin: 0 46px 54px 46px;
}

.nav-list {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin: 20px 96px 0 0;
    cursor: pointer;
}

.nav-list li {
    transition: color 0.3s ease;
}

.nav-list li:hover {
    color: #b0aaaa;
}

.nav-list li a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: #b0aaaa;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-user {
    padding: 18px;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }
}

@media (min-width: 971px) {
    .mobile-header {
        display: flex;
    }
}

footer {
    padding: 120px 0 0 0;
}

.footer-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer span {
    color: white;
}

.svg-icons {
    display: flex;
    gap: 8px;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.checkout-overview {
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
}

#cartList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#cartList li {
    display: flex;
    font-size: 20px;
}

#cartList p {
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.total-sum {
    display: flex;
    justify-content: center;
}

.purchase-button {
    width: 122px;
    height: 34px;
    background-color: #e07d1ec4;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.purchase-button:hover {
    background-color: #96570b;
    transition: 0.2ms ease-in;
}

.body-container {
    display: flex;
    justify-content: center;
}

.vertical-line {
    width: 1px;
    height: 412px;
    background-color: #96570b;
    margin: 0 100px 0 100px;
    opacity: 0.7;
}

.form-div form {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically */
}

/* Style the label to ensure it aligns correctly */
.checkbox-container label {
    margin-left: 8px; /* Adjust margin for spacing */
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment {
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    padding-bottom: 42px;
}

#fname, #lname, #email {
    margin-bottom: 16px;
}

.card-inputs {
    margin-bottom: 16px;
}

.checkbox-container {
    margin-bottom: 16px;
}

form label {
    margin-bottom: 2px;

}

form input {
    font-size: 20px;
    border-radius: 4px;
    border: 0;
}

#number {
    font-size: 18px;
    border-radius: 4px 4px 0 0;
    border: 0;
}

#expirationMonth {
    font-size: 18px;
    border-radius: 0 0 0 4px;
    border: 0;
    border-right: 1px solid grey;
}

#expirationYear {
    font-size: 18px;
    border-radius: 0 0 4px 0;;
    border: 0;
}

.expiration-inputs {
    display: flex;
}

.card-inputs {
    border-top: 1px solid grey;
}

::placeholder {
    font-size: 14px;
}

.p-total {
    font-size: 20px;
    color: #e07d1e;
}
