* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #181717;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    height: 440px;
    justify-content: space-evenly;
    width: 640px;
}

.order-confirmation {
    font-size: 24px;
    font-weight: bold;
}

#confirmationCartList {
    background-color: #369f36;
    border-radius: 6px;
    width: 32vw;
    min-width: 362px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    color: white;
}

#confirmationCartList li {
    list-style-type: none;
    font-size: 16px;
}

.order-span {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 12px;
}

.fa-check {
    color: green;
}

.span-div {
    color: #000000b5;
    white-space: normal;
    text-align: center;
}

.homepage-span a {
    text-decoration: none;
    color: #e07d1e;
}

.homepage-span a:hover {
    transition: 0.2ms ease-in-out;
    color: #96570b;
}

@media screen and (max-width: 970px){
    .body-container {
        flex-direction: column;
    }

    .checkbox-container {
        gap: 16px;
        align-items: center;
    }

    .vertical-line {
        width: 73vw;
        height: 1px;
        display: flex;
        align-self: center;
        margin: 20px 0;
    }
}

@media (max-width: 500px) {
    .span-div {
        margin: 0 1rem;
    }
}