@import "header-footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body {
    padding: 8px;
    background-color: #181717;
}

.product-container {
    display: flex;
    padding: 34px 0 0 60px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    display: flex;
    justify-content: center;
    width: 20vw;
    min-width: 244px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 5px 1px #ff98006e;
}

.movie-info {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 328px;
    padding: 0 0 0 22px;
    align-self: center;
    white-space: normal;
}

.movie-info i {
    font-size: 1.7rem;
    color: #deb522;
    padding: 0 6px 0 0;
}

@media screen and (max-width: 750px) {
    .product-container {
        flex-direction: column;
        padding: 34px 0;
    }

    .movie-info {
        align-items: center;
        text-align: center;
        padding: 12px 0;
    }
}

.cart-dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 10;
    width: 26vw;
    min-width: 318px;
    height: 60%;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 6px rgba(227, 162, 66, 0.42);
}

.cart-dropdown.show {
    display: block;
}

.cart-dropdown {
    display: none;
    position: fixed;
}

.fa-x {
    cursor: pointer;
    display: flex;
}

#cartItems {
    list-style-type: none;
    padding: 8px 0 4px 0;
}

#cartItems li {
    padding: 8px 0 8px 0;
}

.hr-line {
    border-top: 1px solid #00000036;
    margin: 8px 0;
}

#viewDetailsButton {
    position: absolute;
    top: 90%;
    border-radius: 4px;
    border: 0;
    width: 88px;
    height: 28px;
    color: white;
    cursor: pointer;
    background-color: #e07d1e;
}

#viewDetailsButton:hover {
    background-color: #96570b;
    transition: 0.2ms ease-in;
}

.cart-overview {
    font-weight: 700;
    font-size: 18px;
}

.remove-button {
    background-color: transparent;
    border: 0;
    font-size: 10px;
    opacity: 0.8;
    cursor: pointer;
}

#totalCost {
    position: absolute;
    top: 84%;
}

.movie-info p {
    display: flex;
    align-items: center;
}

.add-to-cart-btn {
    border-radius: 4px;
    border: 0;
    width: 140px;
    height: 32px;
    color: white;
    cursor: pointer;
    background-color: #e07d1e;
}

.add-to-cart-btn:hover {
    transition: ease-in-out 2ms;
    background-color: #96570b;
}
