* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body {
    padding: 8px;
    background-color: #181717;
}

.mobile-header {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-logo svg {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    height: 86px;
    font-family: Barlow, sans-serif;
    margin: 0 46px 20px 46px;}

.nav-list {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin: 30px;
    cursor: pointer;
}

.nav-list li {
    transition: color 0.3s ease;
}

.nav-list li:hover {
    color: #b0aaaa;
}

.nav-list li a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: #b0aaaa;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-user {
    padding: 18px;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }
}

@media (min-width: 971px) {
    .mobile-header {
        display: flex;
    }
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    display: flex;
    justify-content: center;
    width: 326px;
    height: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 42%);
}

.movie-info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 60px 0 0 0;
}

.footer-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer span {
    color: white;
}

.svg-icons {
    display: flex;
    gap: 8px;
}

.cart-dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 10;
    width: 438px;
    height: 60%;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 6px rgba(227, 162, 66, 0.42);
}

.cart-dropdown.show {
    display: block;
}

.cart-dropdown {
    display: none;
    position: fixed;
}

.fa-x {
    cursor: pointer;
    display: flex;
}

#cartItems {
    list-style-type: none;
    padding: 8px 0 4px 0;
}

#cartItems li {
    padding: 8px 0 8px 0;
}

.hr-line {
    border-top: 1px solid #00000036;
    margin: 8px 0;
}

#viewDetailsButton {
    position: absolute;
    top: 90%;
    border-radius: 4px;
    border: 0;
    width: 88px;
    height: 28px;
    color: white;
    cursor: pointer;
    background-color: #e07d1e;
}

#viewDetailsButton:hover {
    background-color: #96570b;
    transition: 0.2ms ease-in;
}

.cart-overview {
    font-weight: 700;
    font-size: 18px;
}

.remove-button {
    background-color: transparent;
    border: 0;
    font-size: 10px;
    opacity: 0.8;
    cursor: pointer;
}

#totalCost {
    position: absolute;
    top: 84%;
}