* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 8px;
}

#movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
}

.img-div img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.movie-link {
    text-decoration: none;
    color: black;
}