* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body {
    padding: 8px;
    background-color: #252627;
}

.mobile-header {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-logo svg {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    height: 86px;
    font-family: Barlow, sans-serif;
    margin: 0 46px 0 46px;}

.nav-list {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.nav-list li {
    display: flex;
    justify-content: center;
    margin: 30px;
    cursor: pointer;
}

.nav-list li {
    transition: color 0.3s ease;
}

.nav-list li:hover {
    color: #b0aaaa;
}

.nav-list li a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: #b0aaaa;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-user {
    padding: 18px;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }
}

@media (min-width: 971px) {
    .mobile-header {
        display: flex;
    }
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 40px 0 0 0;
}

.img-div {
    position: relative;
    display: inline-block;
}

.img-div img {
    display: block;
    max-width: 100%;
}

.img-div .fa-solid {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: white;
    font-size: 24px;
}

.button-div button {
    cursor: pointer;
    background-color: #e07d1e;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    display: flex;
    justify-content: center;
    width: 116px;
    height: 32px;
    align-items: center;
    color: white;
}

.button-div button:hover {
    transition: ease-in-out 2ms;
    background-color: #96570b;
}

.img-div {
    width: 306px;
    height: 437px;
    overflow: hidden;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.fa-solid:hover {
    transition: ease-in-out 0.2ms;
    color: #75706c;
}

.movie-link {
    text-decoration: none;
    color: black;
}

.movie-container {
    color: white;
}

.title {
    font-size: 20px;
}

.info-div {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
}

.regular-price {
    text-decoration: line-through;
}

#btnContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn {
    font-size: 16px;
    width: 146px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    border: 0;
    color: white;
    background-color: #e07d1e;
    cursor: pointer;
}

.btn:hover {
    background-color: #96570b;
    transition: 0.2s ease-in-out;
}

.img-div img {
    transition: filter 0.4s ease;
}

.img-div:hover img {
    filter: grayscale(100%);
}

footer {
    padding: 60px 0 0 0;
}

.footer-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer span {
    color: white;
}

.svg-icons {
    display: flex;
    position: fixed;
    z-index: 100;
}

.cart-dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 10;
    width: 438px;
    height: 60%;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 6px rgba(227, 162, 66, 0.42);
}

.cart-dropdown.show {
    display: block;
}

.cart-dropdown {
    display: none;
    position: fixed;
}

.fa-x {
    cursor: pointer;
    display: flex;
}

#cartItems {
    list-style-type: none;
    padding: 8px 0 4px 0;
}

#cartItems li {
    padding: 8px 0 8px 0;
}

.hr-line {
    border-top: 1px solid #00000036;
    margin: 8px 0;
}

#viewDetailsButton {
    position: absolute;
    top: 90%;
    border-radius: 4px;
    border: 0;
    width: 88px;
    height: 28px;
    color: white;
    cursor: pointer;
    background-color: #e07d1e;
}

#viewDetailsButton:hover {
    background-color: #96570b;
    transition: 0.2ms ease-in;
}

.cart-overview {
    font-weight: 700;
    font-size: 18px;
}

.remove-button {
    background-color: transparent;
    border: 0;
    font-size: 10px;
    opacity: 0.8;
    cursor: pointer;
}

#totalCost {
    position: absolute;
    top: 84%;
}